*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color:white;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr 1fr;
}
.navbar img{
    width: 70%;
    margin-top: 7px;
    height: auto;
}
.navbar div ul{
    margin-left: -30px;

}
.navbar div ul li{
    list-style: none;
    float: left;
    margin-right: 15px;
    margin-top: 17px;
    color: rgb(109, 105, 105);
}
.allpro p{
    margin-top: 15px;
    color: rgb(109, 105, 105);
    margin-left: 50px;


}
.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(109, 105, 105);
   
    margin-top: 15px;
    

}
.slider{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}    

.sliderimg{
    background-image: url('/img/slider.png');
    background-size: cover;
    background-color: rgb(235, 229, 229);


}
.slidercontent{
    background-color: rgb(235, 229, 229);
    padding-top: 160px;
    padding-left: 70px;
    
}
.slidercontent a{
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    
}
.product{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 20%;
}
.product div img{
    margin-left: 65px
}
.product div h2{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    
}
.features{
    width: 100%;
    height: 375px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.featuresitem{
    width: 92%;
    height: 375px;
    
}
.featuresitem img{
    width: 100%;
    height: 150px;
}
.featuresitem h2{
    margin-top: 30px;
}
.featuresitem p{
    margin-top: 10px;
}
.featuresitem a{
    font-size: 18px;
    color: blue;
    
    text-decoration: none;
}
.onedrive{
    width: 100%;
    height: 420px;
    background-size: cover;
    background-image: url('/img/features.jpg');    
}
.onedrivecontent{
    padding-top:160px ;
    padding-left: 80px;
}
.onedrivecontent p{
    margin-top: 15px;
}
.onedrivecontent a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    
    text-decoration: none;
}
.font h2{
    width: 100%;
    height: 40px;
    margin-top: 60px;

}
.response{
    width: 100%;
    height: 120px;
    background-color: rgb(216, 208, 208);
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}
.response p{
    margin-top: 10px;
}
.response a{
    text-decoration: none;
    color: black;
    
}
.social{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.socialmedia{
    /* padding-top: 20px; */
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 4fr;

}
.png{
    width: 50%;
    height: 100px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.png img{
    margin-top: -10px;
    width: 70%;
    height: auto;
    
}
.ending{
    width: 100%;
    height: 300px;
    background-color:rgb(236, 234, 234);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.footer{
    margin-top: 30px;
    margin-left: 20px;
    width: 100%;
    height: 90%;
    
}
.heading{
    width: 100%;
    height: 20px;
    color: rgb(110, 109, 109);

    
    text-align: center;

}
.footer ul li{
    margin-top: 10px;
    list-style: none;
    margin-left: 66px;
    color: rgb(110, 109, 109);
}